@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
.poppins {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}
